body {
   background-image: url("bc1.jpeg");
  font-family: Arial;
  text-align: left;
  border-box: inherit;
  border-collapse: inherit;
  font-size: 20px;
  padding: 100px;
   
}



* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #FAEBD7;
  padding: 5px 20px 15px 20px;
  border: 1px solid #663399;
  border-radius: 50px;
  
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #663399;
  border-radius: 3px;
}

label {
  margin-bottom: 30px;
  display: block;
}

.icon-container {
  margin-bottom: 30px;
  padding: 7px 0;
  font-size: 50px;
  border: 1px solid #663399;
  text-align: center;

  
}

.btn {
  background-color: #ff6666;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid #45a049;
}

span.price {
  float: right;
  color: grey;
}




@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 40px;
  }
}